# Core
Flask==2.3.2
Flask-Login==0.6.2
Flask-CORS==4.0.0
Flask-SocketIO==5.3.4
python-decouple==3.8

# Database
SQLAlchemy==2.0.19
psycopg2-binary==2.9.7
Flask-Migrate==4.0.5
alembic==1.12.0
Flask-SQLAlchemy==3.1.1

# API
Flask-Smorest==0.41.0
marshmallow==3.19.0
webargs==8.2.0

# Redis
redis==4.6.0
redis-om==0.3.5

# Auth
passlib==1.7.4
bcrypt==4.0.1

# Utilities
python-dotenv==1.0.0
loguru==0.7.0
requests==2.31.0
psutil==5.9.8

# Task Queue
celery==5.3.6

# Others
boto3
pillow
gunicorn
ffmpeg-python==0.2.0
# rembg
# cryptography
python-engineio==4.5.1
python-socketio==5.8.0
gevent==22.10.2
gevent-websocket==0.10.1
